disdbg/*
loaders/utils/mapfile/unix/linux/*
loaders/utils/mapfile/windows/* 

.DS_Store

src/disasm/decoder/DataProcessingScalarFPAndAdvancedSIMD/SubDecoder/main.rb
src/disasm/file.rb
src/disasm/main.rb

main.cpp

src/utility/build/*
src/ui/build/*
src/loader/build/*
src/disasm/build/*
src/reporter/build/*
src/app/build/*

*.o
*.obj
*.pcm
*.dSYM

*.bmp
*.plist

*.dylib
*.dll
*.so

*.bin
*.exe
*.app
